@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using CarTrader.Models
@using Microsoft.AspNetCore.Identity
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    @if (User.Identity.Name != "admin@example.com" && User.Identity.Name != "user@example.com")
    {
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a id="delete" asp-page="DeletePersonalData" class="nav-link bg-danger text-light">Delete</a></li>
    }
</ul>
