@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Trader</h1>
    <a class="btn btn-dark mt-3" asp-controller="Cars" asp-action="Index">View cars for sale</a>
</div>
