@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<CarTrader.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<div class="d-flex justify-content-around align-items-center">
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        @foreach (var item in Model) {
            <div class="card mx-2" style="width: 18rem;">
                <div class="car-img-container">
                     <img src="@("/img/" + item.Image)" alt="Card image cap">
                </div>
                <div class="card-body">
                <h5 class="card-title text-center">
                    @Html.DisplayFor(modelItem => item.Make)
                    @Html.DisplayFor(modelItem => item.Model)
                </h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">$@Html.DisplayFor(modelItem => item.Price)</p>
                    <a class="btn btn-success float-end"
                        asp-area="" asp-controller="Cars"
                        asp-action="Detail" asp-route-id="@item.Id"
                    >Buy</a>
                </div>
                </div>
            </div>
        }
    </div>
</div>